In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 경고 뜨지 않게
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 6개 parquet 파일 경로 리스트 
file_list = [
    'open/train/1.회원정보/201807_train_회원정보.parquet',
    'open/train/1.회원정보/201808_train_회원정보.parquet',
    'open/train/1.회원정보/201809_train_회원정보.parquet',
    'open/train/1.회원정보/201810_train_회원정보.parquet',
    'open/train/1.회원정보/201811_train_회원정보.parquet',
    'open/train/1.회원정보/201812_train_회원정보.parquet'
]

# 빈 데이터프레임 리스트 생성
dfs = []

# 각 파일을 읽어서 dfs 리스트에 추가
for file in file_list:
    df = pd.read_parquet(file)
    dfs.append(df)

# 데이터프레임 합치기 (행 기준으로 아래로 붙이기)
merged_df = pd.concat(dfs, ignore_index=True)

In [3]:
# 합친 데이터 확인
print(merged_df.shape)
print(merged_df.head())

(2400000, 78)
     기준년월            ID  남녀구분코드   연령 Segment  회원여부_이용가능  회원여부_이용가능_CA  \
0  201807  TRAIN_000000       2  40대       D          1             1
1  201807  TRAIN_000001       1  30대       E          1             1
2  201807  TRAIN_000002       1  30대       C          1             1
3  201807  TRAIN_000003       2  40대       D          1             1
4  201807  TRAIN_000004       2  40대       E          1             1

   회원여부_이용가능_카드론  소지여부_신용  소지카드수_유효_신용  ...  할인금액_제휴연회비_B0M  청구금액_기본연회비_B0M  \
0              0        1            1  ...               0               0
1              1        1            1  ...               0               0
2              0        1            1  ...               0               0
3              0        1            2  ...               0               0
4              1        1            1  ...               0               0

   청구금액_제휴연회비_B0M  상품관련면제카드수_B0M  임직원면제카드수_B0M  우수회원면제카드수_B0M  기타면제카드수_B0M  \
0               0             0개            0개             0개           0개
1               0             0개            0개             0개           0개
2               0             0개            0개             0개           0개
3               0             0개            0개             0개           0개
4               0             0개            0개             0개           0개

   카드신청건수  Life_Stage  최종카드발급경과월
0       0     자녀성장(2)         22
1       0     자녀성장(1)         18
2       0       자녀출산기         20
3       1     자녀성장(2)         17
4       1     자녀성장(1)         15

[5 rows x 78 columns]

In [4]:
# 필요하면 하나로 합친 데이터 저장
merged_df.to_parquet('open/train/1.회원정보/2018_train_회원정보.parquet')

In [5]:
df = pd.read_parquet ('open/train/1.회원정보/2018_train_회원정보.parquet')
df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [6]:
# 결측치가 있는 컬럼만 출력
for col in merged_df.columns:
    missing_count = merged_df[col].isnull().sum()
    if missing_count > 0:
        print(f"{col}: {missing_count}")

가입통신회사코드: 387570
직장시도명: 244969
_1순위신용체크구분: 27950
_2순위신용체크구분: 958115
최종유효년월_신용_이용가능: 210447
최종유효년월_신용_이용: 534231
최종카드발급일자: 41965

In [7]:
# 체크할 결측치 대체값 리스트
missing_values = [-99, -1]

# 결과 저장용 리스트
results = []

for col in merged_df.columns:
    for val in missing_values:
        count = (merged_df[col] == val).sum()
        if count > 0:
            results.append({'column': col, 'missing_value': val, 'count': count})

# 결과를 데이터프레임으로 변환
missing_summary = pd.DataFrame(results)

# 결과 출력
print(missing_summary)

          column  missing_value  count
0  이용금액_R3M_신용체크            -99     77
1  이용금액_R3M_신용체크             -1     70
2    이용금액_R3M_신용            -99     91
3    이용금액_R3M_신용             -1     74
4     _1순위카드이용금액            -99     88
5     _1순위카드이용금액             -1    108
6     _1순위카드이용건수             -1  66230
7     _2순위카드이용금액            -99      7
8     _2순위카드이용금액             -1      9
9     _2순위카드이용건수             -1   6180

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400000 entries, 0 to 2399999
Data columns (total 78 columns):
 #   Column              Dtype
---  ------              -----
 0   기준년월                int64
 1   ID                  object
 2   남녀구분코드              int64
 3   연령                  object
 4   Segment             object
 5   회원여부_이용가능           int64
 6   회원여부_이용가능_CA        int64
 7   회원여부_이용가능_카드론       int64
 8   소지여부_신용             int64
 9   소지카드수_유효_신용         int64
 10  소지카드수_이용가능_신용       int64
 11  입회일자_신용             int64
 12  입회경과개월수_신용          int64
 13  회원여부_연체             int64
 14  이용거절여부_카드론          int64
 15  동의여부_한도증액안내         int64
 16  수신거부여부_TM           int64
 17  수신거부여부_DM           int64
 18  수신거부여부_메일           int64
 19  수신거부여부_SMS          int64
 20  가입통신회사코드            object
 21  탈회횟수_누적             int64
 22  최종탈회후경과월            int64
 23  탈회횟수_발급6개월이내        int64
 24  탈회횟수_발급1년이내         int64
 25  거주시도명               object
 26  직장시도명               object
 27  마케팅동의여부             int64
 28  유효카드수_신용체크          int64
 29  유효카드수_신용            int64
 30  유효카드수_신용_가족         int64
 31  유효카드수_체크            int64
 32  유효카드수_체크_가족         int64
 33  이용가능카드수_신용체크        int64
 34  이용가능카드수_신용          int64
 35  이용가능카드수_신용_가족       int64
 36  이용가능카드수_체크          int64
 37  이용가능카드수_체크_가족       int64
 38  이용카드수_신용체크          int64
 39  이용카드수_신용            int64
 40  이용카드수_신용_가족         int64
 41  이용카드수_체크            int64
 42  이용카드수_체크_가족         int64
 43  이용금액_R3M_신용체크       int64
 44  이용금액_R3M_신용         int64
 45  이용금액_R3M_신용_가족      int64
 46  이용금액_R3M_체크         int64
 47  이용금액_R3M_체크_가족      int64
 48  _1순위카드이용금액          int64
 49  _1순위카드이용건수          int64
 50  _1순위신용체크구분          object
 51  _2순위카드이용금액          int64
 52  _2순위카드이용건수          int64
 53  _2순위신용체크구분          object
 54  최종유효년월_신용_이용가능      float64
 55  최종유효년월_신용_이용        float64
 56  최종카드발급일자            float64
 57  보유여부_해외겸용_본인        int64
 58  이용가능여부_해외겸용_본인      int64
 59  이용여부_3M_해외겸용_본인     int64
 60  보유여부_해외겸용_신용_본인     int64
 61  이용가능여부_해외겸용_신용_본인   int64
 62  이용여부_3M_해외겸용_신용_본인  int64
 63  연회비발생카드수_B0M        object
 64  연회비할인카드수_B0M        int64
 65  기본연회비_B0M           int64
 66  제휴연회비_B0M           int64
 67  할인금액_기본연회비_B0M      int64
 68  할인금액_제휴연회비_B0M      int64
 69  청구금액_기본연회비_B0M      int64
 70  청구금액_제휴연회비_B0M      int64
 71  상품관련면제카드수_B0M       object
 72  임직원면제카드수_B0M        object
 73  우수회원면제카드수_B0M       object
 74  기타면제카드수_B0M         object
 75  카드신청건수              int64
 76  Life_Stage          object
 77  최종카드발급경과월           int64
dtypes: float64(3), int64(61), object(14)
memory usage: 1.4+ GB

In [16]:
# 수치형 컬럼만 선택
numeric_cols = df.select_dtypes(include=['number']).columns

# 각 수치형 컬럼의 값별 개수 전체 출력
for col in numeric_cols:
    print(f"\n🔢 [컬럼: {col}] 값별 빈도수 (전체)")
    print(df[col].value_counts(dropna=False).sort_index())

🔢 [컬럼: 기준년월] 값별 빈도수 (전체)
기준년월
201807    400000
201808    400000
201809    400000
201810    400000
201811    400000
201812    400000
Name: count, dtype: int64

🔢 [컬럼: 남녀구분코드] 값별 빈도수 (전체)
남녀구분코드
1    1255308
2    1144692
Name: count, dtype: int64

🔢 [컬럼: 회원여부_이용가능] 값별 빈도수 (전체)
회원여부_이용가능
0     113820
1    2286180
Name: count, dtype: int64

🔢 [컬럼: 회원여부_이용가능_CA] 값별 빈도수 (전체)
회원여부_이용가능_CA
0     287757
1    2112243
Name: count, dtype: int64

🔢 [컬럼: 회원여부_이용가능_카드론] 값별 빈도수 (전체)
회원여부_이용가능_카드론
0     908852
1    1491148
Name: count, dtype: int64

🔢 [컬럼: 소지여부_신용] 값별 빈도수 (전체)
소지여부_신용
0      41887
1    2358113
Name: count, dtype: int64

🔢 [컬럼: 소지카드수_유효_신용] 값별 빈도수 (전체)
소지카드수_유효_신용
0      41882
1    1845949
2     391523
3     120560
4         86
Name: count, dtype: int64

🔢 [컬럼: 소지카드수_이용가능_신용] 값별 빈도수 (전체)
소지카드수_이용가능_신용
0     205225
1    1723263
2     370561
3     100951
Name: count, dtype: int64

🔢 [컬럼: 입회일자_신용] 값별 빈도수 (전체)
입회일자_신용
19901101         6
19910501         6
19910801         6
19910901         6
19911001        18
             ...
20180201     22764
20180301     24606
20180401     23994
20180501     23676
20180601    312138
Name: count, Length: 325, dtype: int64

🔢 [컬럼: 입회경과개월수_신용] 값별 빈도수 (전체)
입회경과개월수_신용
2       52023
3       55969
4       59968
5       64069
6      119886
        ...
333         1
334         1
335         1
336         1
337         2
Name: count, Length: 335, dtype: int64

🔢 [컬럼: 회원여부_연체] 값별 빈도수 (전체)
회원여부_연체
0    2359008
1      40992
Name: count, dtype: int64

🔢 [컬럼: 이용거절여부_카드론] 값별 빈도수 (전체)
이용거절여부_카드론
0    1925770
1     474230
Name: count, dtype: int64

🔢 [컬럼: 동의여부_한도증액안내] 값별 빈도수 (전체)
동의여부_한도증액안내
0    2163506
1     236494
Name: count, dtype: int64

🔢 [컬럼: 수신거부여부_TM] 값별 빈도수 (전체)
수신거부여부_TM
0    1545358
1     854642
Name: count, dtype: int64

🔢 [컬럼: 수신거부여부_DM] 값별 빈도수 (전체)
수신거부여부_DM
0    1646080
1     753920
Name: count, dtype: int64

🔢 [컬럼: 수신거부여부_메일] 값별 빈도수 (전체)
수신거부여부_메일
0    1632571
1     767429
Name: count, dtype: int64

🔢 [컬럼: 수신거부여부_SMS] 값별 빈도수 (전체)
수신거부여부_SMS
0    1513438
1     886562
Name: count, dtype: int64

🔢 [컬럼: 탈회횟수_누적] 값별 빈도수 (전체)
탈회횟수_누적
0    1403785
1     759487
2     236728
Name: count, dtype: int64

🔢 [컬럼: 최종탈회후경과월] 값별 빈도수 (전체)
최종탈회후경과월
0      1411713
1         6271
2         5493
3         4749
4         4062
        ...
113        605
114        190
115         62
116         15
117          2
Name: count, Length: 71, dtype: int64

🔢 [컬럼: 탈회횟수_발급6개월이내] 값별 빈도수 (전체)
탈회횟수_발급6개월이내
0    2302195
1      97805
Name: count, dtype: int64

🔢 [컬럼: 탈회횟수_발급1년이내] 값별 빈도수 (전체)
탈회횟수_발급1년이내
0    2245718
1     154282
Name: count, dtype: int64

🔢 [컬럼: 마케팅동의여부] 값별 빈도수 (전체)
마케팅동의여부
0     455983
1    1944017
Name: count, dtype: int64

🔢 [컬럼: 유효카드수_신용체크] 값별 빈도수 (전체)
유효카드수_신용체크
0     29233
1    936149
2    709422
3    404994
4    203891
5     79437
6     26423
7      9395
8      1056
Name: count, dtype: int64

🔢 [컬럼: 유효카드수_신용] 값별 빈도수 (전체)
유효카드수_신용
0      41303
1    1497037
2     548265
3     198458
4      99794
5      15143
Name: count, dtype: int64

🔢 [컬럼: 유효카드수_신용_가족] 값별 빈도수 (전체)
유효카드수_신용_가족
0    2331548
1      49336
2      19116
Name: count, dtype: int64

🔢 [컬럼: 유효카드수_체크] 값별 빈도수 (전체)
유효카드수_체크
0    1436752
1     661328
2     215445
3      86475
Name: count, dtype: int64

🔢 [컬럼: 유효카드수_체크_가족] 값별 빈도수 (전체)
유효카드수_체크_가족
0    2399964
1         35
2          1
Name: count, dtype: int64

🔢 [컬럼: 이용가능카드수_신용체크] 값별 빈도수 (전체)
이용가능카드수_신용체크
0    111452
1    945107
2    692678
3    358846
4    185705
5     72702
6     24067
7      8532
8       911
Name: count, dtype: int64

🔢 [컬럼: 이용가능카드수_신용] 값별 빈도수 (전체)
이용가능카드수_신용
0     188157
1    1443851
2     486521
3     175252
4      92228
5      13991
Name: count, dtype: int64

🔢 [컬럼: 이용가능카드수_신용_가족] 값별 빈도수 (전체)
이용가능카드수_신용_가족
0    2331859
1      49106
2      19035
Name: count, dtype: int64

🔢 [컬럼: 이용가능카드수_체크] 값별 빈도수 (전체)
이용가능카드수_체크
0    1439532
1     662696
2     212783
3      84989
Name: count, dtype: int64

🔢 [컬럼: 이용가능카드수_체크_가족] 값별 빈도수 (전체)
이용가능카드수_체크_가족
0    2399983
1         14
2          3
Name: count, dtype: int64

🔢 [컬럼: 이용카드수_신용체크] 값별 빈도수 (전체)
이용카드수_신용체크
0     433328
1    1125925
2     536157
3     222779
4      72103
5       9454
6        254
Name: count, dtype: int64

🔢 [컬럼: 이용카드수_신용] 값별 빈도수 (전체)
이용카드수_신용
0     492003
1    1250336
2     456168
3     149119
4      52325
5         49
Name: count, dtype: int64

🔢 [컬럼: 이용카드수_신용_가족] 값별 빈도수 (전체)
이용카드수_신용_가족
0    2336994
1      45355
2      17651
Name: count, dtype: int64

🔢 [컬럼: 이용카드수_체크] 값별 빈도수 (전체)
이용카드수_체크
0    2022815
1     370162
2       7023
Name: count, dtype: int64

🔢 [컬럼: 이용카드수_체크_가족] 값별 빈도수 (전체)
이용카드수_체크_가족
0    2400000
Name: count, dtype: int64

🔢 [컬럼: 이용금액_R3M_신용체크] 값별 빈도수 (전체)
이용금액_R3M_신용체크
-8749      1
-7620      1
-7309      1
-7130      1
-6979      1
          ..
 210994    1
 222701    1
 229347    1
 231933    1
 235195    1
Name: count, Length: 124193, dtype: int64

🔢 [컬럼: 이용금액_R3M_신용] 값별 빈도수 (전체)
이용금액_R3M_신용
-8749      1
-7620      1
-7450      1
-7309      1
-7130      1
          ..
 159425    1
 159994    1
 160438    1
 160573    1
 163706    1
Name: count, Length: 120246, dtype: int64

🔢 [컬럼: 이용금액_R3M_신용_가족] 값별 빈도수 (전체)
이용금액_R3M_신용_가족
0        2335856
3996           1
4083           1
4210           1
4541           1
          ...
34981          1
35018          1
35076          1
35245          1
53199          1
Name: count, Length: 12226, dtype: int64

🔢 [컬럼: 이용금액_R3M_체크] 값별 빈도수 (전체)
이용금액_R3M_체크
0         2020979
147             1
227             1
244             1
248             1
           ...
145185          1
146447          1
149300          1
163162          1
163250          1
Name: count, Length: 54673, dtype: int64

🔢 [컬럼: 이용금액_R3M_체크_가족] 값별 빈도수 (전체)
이용금액_R3M_체크_가족
0    2400000
Name: count, dtype: int64

🔢 [컬럼: _1순위카드이용금액] 값별 빈도수 (전체)
_1순위카드이용금액
-3925      1
-3831      1
-3821      1
-3810      1
-3808      1
          ..
 114103    1
 114329    1
 114508    1
 114614    1
 118507    1
Name: count, Length: 81963, dtype: int64

🔢 [컬럼: _1순위카드이용건수] 값별 빈도수 (전체)
_1순위카드이용건수
-2      421728
-1       66230
 0       65256
 1       62980
 2       59690
         ...
 220        27
 221        16
 222        11
 223         3
 224         2
Name: count, Length: 227, dtype: int64

🔢 [컬럼: _2순위카드이용금액] 값별 빈도수 (전체)
_2순위카드이용금액
-4042     1
-3635     1
-3473     1
-3413     1
-3401     1
         ..
 82420    1
 83301    1
 84211    1
 84616    1
 84966    1
Name: count, Length: 53948, dtype: int64

🔢 [컬럼: _2순위카드이용건수] 값별 빈도수 (전체)
_2순위카드이용건수
-1         6180
 0      1713170
 1         1760
 2         2042
 3         2418
         ...
 203          3
 204          4
 205          3
 206          5
 209          3
Name: count, Length: 209, dtype: int64

🔢 [컬럼: 최종유효년월_신용_이용가능] 값별 빈도수 (전체)
최종유효년월_신용_이용가능
201805.0         2
201806.0         6
201807.0        14
201808.0        40
201809.0        62
             ...
202403.0      4081
202404.0      2798
202405.0      1764
202406.0      1060
NaN         210447
Name: count, Length: 75, dtype: int64

🔢 [컬럼: 최종유효년월_신용_이용] 값별 빈도수 (전체)
최종유효년월_신용_이용
201807.0         2
201808.0         1
201809.0         8
201810.0        16
201811.0        42
             ...
202403.0      1848
202404.0      1196
202405.0       671
202406.0       366
NaN         534231
Name: count, Length: 73, dtype: int64

🔢 [컬럼: 최종카드발급일자] 값별 빈도수 (전체)
최종카드발급일자
20130531.0        6
20130701.0        6
20130710.0        6
20130731.0        6
20130802.0        6
              ...
20181228.0       66
20181229.0       63
20181230.0       71
20181231.0       62
NaN           41965
Name: count, Length: 1940, dtype: int64

🔢 [컬럼: 보유여부_해외겸용_본인] 값별 빈도수 (전체)
보유여부_해외겸용_본인
0     523098
1    1876902
Name: count, dtype: int64

🔢 [컬럼: 이용가능여부_해외겸용_본인] 값별 빈도수 (전체)
이용가능여부_해외겸용_본인
0     590609
1    1809391
Name: count, dtype: int64

🔢 [컬럼: 이용여부_3M_해외겸용_본인] 값별 빈도수 (전체)
이용여부_3M_해외겸용_본인
0     947040
1    1452960
Name: count, dtype: int64

🔢 [컬럼: 보유여부_해외겸용_신용_본인] 값별 빈도수 (전체)
보유여부_해외겸용_신용_본인
0     761693
1    1638307
Name: count, dtype: int64

🔢 [컬럼: 이용가능여부_해외겸용_신용_본인] 값별 빈도수 (전체)
이용가능여부_해외겸용_신용_본인
0     873884
1    1526116
Name: count, dtype: int64

🔢 [컬럼: 이용여부_3M_해외겸용_신용_본인] 값별 빈도수 (전체)
이용여부_3M_해외겸용_신용_본인
0    1076484
1    1323516
Name: count, dtype: int64

🔢 [컬럼: 연회비할인카드수_B0M] 값별 빈도수 (전체)
연회비할인카드수_B0M
0    2400000
Name: count, dtype: int64

🔢 [컬럼: 기본연회비_B0M] 값별 빈도수 (전체)
기본연회비_B0M
0      2396961
49          25
50         381
101          1
102          3
103         30
104         76
105        120
106        222
107        565
108        906
109        639
110         67
111          4
Name: count, dtype: int64

🔢 [컬럼: 제휴연회비_B0M] 값별 빈도수 (전체)
제휴연회비_B0M
0      2399128
29           2
30           3
149          1
150          1
949        418
950        446
951          1
Name: count, dtype: int64

🔢 [컬럼: 할인금액_기본연회비_B0M] 값별 빈도수 (전체)
할인금액_기본연회비_B0M
0    2400000
Name: count, dtype: int64

🔢 [컬럼: 할인금액_제휴연회비_B0M] 값별 빈도수 (전체)
할인금액_제휴연회비_B0M
0    2400000
Name: count, dtype: int64

🔢 [컬럼: 청구금액_기본연회비_B0M] 값별 빈도수 (전체)
청구금액_기본연회비_B0M
0      2396961
49          25
50         381
101          1
102          3
103         30
104         76
105        120
106        222
107        565
108        906
109        639
110         67
111          4
Name: count, dtype: int64

🔢 [컬럼: 청구금액_제휴연회비_B0M] 값별 빈도수 (전체)
청구금액_제휴연회비_B0M
0      2399128
29           2
30           3
149          1
150          1
949        418
950        446
951          1
Name: count, dtype: int64

🔢 [컬럼: 카드신청건수] 값별 빈도수 (전체)
카드신청건수
0    2189218
1     210782
Name: count, dtype: int64

🔢 [컬럼: 최종카드발급경과월] 값별 빈도수 (전체)
최종카드발급경과월
0     78140
1     36363
2     38600
3     41489
4     45925
      ...
63       41
64       20
65        4
66        1
67        1
Name: count, Length: 68, dtype: int64

In [10]:
10 / 0

ZeroDivisionError: division by zero

In [ ]:
col = '이용금액_R3M_신용체크'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '이용금액_R3M_신용'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '이용금액_R3M_신용_가족'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '_1순위카드이용금액'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '_1순위카드이용건수'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '_2순위카드이용금액'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()

In [ ]:
col = '_2순위카드이용건수'

plt.figure(figsize=(8, 6))
sns.boxplot(x=merged_df[col])
plt.title(f'Boxplot of {col}')
plt.show()